node_modules
.pnpm
.pnpm-store
.corepack
.next
out
dist
coverage
.turbo
.vercel
.cache
.eslintcache
.env
.env.*.local
.env.local
.env.development
.env.production
.env.test
*.log
*.db
*.db-journal
homedock-data
.git
.idea
.vscode
